# production
/exampleSite/public
/exampleSite/resources/_gen
resources

#misc
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
yarn-error.log
node_modules
.forestry
Thumbs.db
**/*.lock
.dist
.tmp
.sass-cache
npm-debug.log
builds
package-lock.json
public
jsconfig.json
test.file
config-client.toml
config-current.toml


# jetbrains files
.idea/