# production
/exampleSite/public
/exampleSite/resources/_gen
resources/_gen/
/public
.vscode
#misc
/exampleSite/.hugo_build.lock
/node_modules

# jetbrains files
.idea/

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
yarn-error.log
yarn.lock