[build]
  publish = "public"
  command = "yarn build -b $URL"

  [build.environment]
    HUGO_VERSION = "0.134.3"
    GO_VERSION = "1.23.1"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "yarn build -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "yarn build -b $DEPLOY_PRIME_URL"

[[headers]]
  for = "/*" # This defines which paths this specific [[headers]] block will cover.

[headers.values]
  X-Frame-Options = "DENY"
  X-XSS-Protection = "1; mode=block"
  Referrer-Policy = "same-origin"
  Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"

# below is the permanent redirect from old domain name intelops.ai to new domain name capten.ai
[[redirects]]
  from = "https://intelops-website-prod.netlify.app/"
  to = "https://capten.ai/"
  status = 301
  force = true

[[redirects]]
  from = "https://intelops.ai/*"
  to = "https://capten.ai/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://intelops.ai/"
  to = "https://capten.ai/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.intelops.ai/"
  to = "https://capten.ai/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.intelops.ai/*"
  to = "https://capten.ai/:splat"
  status = 301
  force = true

[[redirects]]
  from = "www.intelops.ai"
  to = "https://capten.ai/"
  status = 301
  force = true

[[redirects]]
  from = "intelops.ai"
  to = "https://capten.ai/"
  status = 301
  force = true
