[build]
  publish = "public"
  command = "yarn build"
  
[build.environment]
  HUGO_VERSION = "0.121.0"
  GO_VERSION = "1.21.5"

[[headers]]
  for = "/*" # This defines which paths this specific [[headers]] block will cover.

[headers.values]
  X-Frame-Options = "DENY"
  X-XSS-Protection = "1; mode=block"
  Referrer-Policy = "same-origin"
  Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"