<meta charset="utf-8" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<!-- responsive meta -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=5" />


<!-- theme meta -->
<meta name="theme-name" content="delta" />

<!-- favicon -->
{{ partialCached "favicon" . }}


<!-- manifest -->
{{ partialCached "manifest" . }}


<!-- site verifications -->
{{ partialCached "site-verifications.html" . }}


<!-- opengraph and twitter card -->
{{ partial "basic-seo.html" . }}


<!-- custom script -->
{{ partialCached "custom-script.html" . }}


<!-- google analytics -->
{{ if and site.Config.Services.GoogleAnalytics.ID (ne site.Config.Services.GoogleAnalytics.ID "G-MEASUREMENT_ID") }}
  {{ template "_internal/google_analytics.html" . }}
{{ end }}


<!-- google tag manager -->
{{ partialCached "gtm.html" . }}


<!-- matomo analytics -->
{{/* {{ partialCached "matomo-analytics.html" . }} */}}

<!--  Baidu analytics -->
{{/* {{ partialCached "baidu-analytics.html" . }} */}}

<!-- Plausible Analytics -->
{{/* {{ partialCached "plausible-analytics.html" . }} */}}

<!-- Counter Analytics -->
{{/* {{ partialCached "counter-analytics.html" . }} */}}

<!-- Crisp Chat -->
{{/* {{ partialCached "crisp-chat.html" . }} */}}

