// main content
main {
  overflow: visible;
  //padding: 0px;
  // @include desktop-xl {
  //   padding: 60px;
  // }
  // @include desktop {
  //   padding: 40px;
  // }
  // @include tablet {
  //   padding: 25px;
  // }
  // @include mobile {
  //   padding: 10px;
  // }
  padding-bottom: 0 !important;
}

main:empty {
  display: none;
}

// section wave style
.wave-block {
  position: relative;
  z-index: 1;

  .has-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;

    svg {
      color: $white;
      position: absolute;
      max-width: 100%;

      @include desktop {
        width: 200px;
        height: auto;
      }
    }

    .wave-left {
      left: 0;
      bottom: 0;
    }

    .wave-right {
      right: 0;
      top: 0;
    }

    &.alter-position {
      .wave-left {
        bottom: auto;
        top: 0;
      }

      .wave-right {
        top: auto;
        bottom: 0;
      }
    }
  }
}

// page-header
.page-header {
  .block {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  a.text-muted:hover {
    color: $color-primary !important;
    text-decoration: underline;
  }

  .has-wave .wave-right {
    top: auto;
    bottom: 0;
  }

  &-alt {
    padding: 90px 0;
  }
}

// homepage banner
.banner {
  .block {
    padding-top: 40px;
    padding-bottom: 90px;

    @include tablet {
      br {
        display: none;
      }
    }

    @include mobile {
      padding-bottom: 50px;
    }
  }
}

.banner-1 {
  max-width: 95%;
  margin: 30px auto 0 auto;

  .has-wave {
    @media (min-width: 1600px) {
      z-index: initial;
    }

    .wave-left {
      bottom: 40% !important;

      @media (min-width: 1600px) {
        bottom: 15% !important;
        z-index: 5;
      }

      @include desktop {
        bottom: 35% !important;
      }

      @include tablet {
        display: none;
      }
    }
  }

  .btn-play {
    color: $white;

    &:hover {
      color: $dark;
    }
  }

  .banner-image {
    position: relative;
    z-index: 1;

    &::after,
    &::before {
      background-color: $white;
      position: absolute;
      content: "";
      height: calc(50% + 50px);
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: -2;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      @include tablet {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      @include mobile {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    &::before {
      @extend .bg-primary-soft;
      height: 50px;
      bottom: 50%;
      z-index: -1;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .image,
    lottie-player {
      max-width: 85%;

      @include tablet {
        max-width: 95%;
      }

      margin: auto;
      border-radius: 25px;
      overflow: hidden;
    }
  }
}

.banner-2 {
  .banner-image-2 img {
    box-shadow: -10px 10px 50px 10px rgba($black, 0.05);
    border-radius: 20px;
  }
}

.platform-banner {
  // width: 1660px;
  max-width: 96%;
  margin: auto;
  padding: 150px 0;
}

.wrap-block {
  max-width: 95%;
  margin: auto;
}

.bg-soft {
  background-color: #f7f7f7;
}

// features-section
.features-section {
  max-width: 95%;
  margin: auto;

  &.features-creative {
    position: relative;
    z-index: 1;
    background-color: #f7f7f7;

    // features rows
    .features-row {
      margin-top: -325px;

      @include desktop {
        margin-top: 0;
      }
    }
  }

  @include desktop-lg {
    .title {
      br {
        display: none;
      }
    }
  }

  .features-block {
    .block {
      background-color: $white;
      border-radius: 15px;
      border: 2px solid transparent;
      box-shadow: 0px 15px 50px 10px rgba($black, 0.05);
      transition: 0.1s;
      padding: 45px 35px;

      @include mobile {
        padding: 30px 25px;
      }

      &:hover {
        box-shadow: 0px 10px 30px 10px rgba($black, 0.05);
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      .icon {
        font-size: 50px;
        margin-bottom: 30px;
      }
    }

    .title {
      transition: 0.15s;
    }

    .block {
      &:hover {
        border-color: inherit;

        .title {
          color: inherit;
        }
      }
    }

    &.features-block-2 {
      .block {
        padding: 40px 25px;
        align-items: start;

        @include mobile {
          padding: 30px 25px;
        }

        .icon {
          font-size: 20px;
          margin-right: 25px;
          display: inline-block;
          min-height: 50px;
          width: 50px;
          min-width: 50px;
          text-align: center;
          border-radius: 10px;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &:nth-child(1) .block,
      &:nth-child(11) .block,
      &:nth-child(5) .block {
        .icon {
          background-color: rgba($color-primary, 0.2);
        }
      }

      &:nth-child(6) .block,
      &:nth-child(12) .block,
      &:nth-child(2) .block:nth-child(1) {
        .icon {
          background-color: rgba($color-secondary, 0.2);
        }
      }

      &:nth-child(4) .block,
      &:nth-child(7) .block,
      &:nth-child(13) .block,
      &:nth-child(2) .block:nth-child(2) {
        .icon {
          background-color: rgba($color-tertiary, 0.2);
        }
      }

      &:nth-child(8) .block,
      &:nth-child(14) .block,
      &:nth-child(3) .block:nth-child(1) {
        .icon {
          background-color: rgba($color-quaternary, 0.2);
        }
      }

      &:nth-child(9) .block,
      &:nth-child(15) .block,
      &:nth-child(3) .block:nth-child(2) {
        .icon {
          background-color: rgba($color-primary, 0.2);
        }
      }

      &:nth-child(10) .block,
      &:nth-child(3) .block:nth-child(3) {
        .icon {
          background-color: rgba($color-secondary, 0.2);
        }
      }
    }
  }
}

// fun facts
.fact-item {
  position: relative;

  &:not(:last-child) {
    &::after {
      position: absolute;
      content: "";
      height: calc(100% - 20px);
      border-left: 2px dashed #eaeaea;
      right: 0;
      top: 10px;

      @include mobile {
        border-left: 1px dashed #eaeaea;
      }
    }

    @include desktop {
      &:nth-child(even)::after {
        display: none;
      }
    }
  }

  .block {
    @include mobile-xs {
      br {
        display: none;
      }
    }

    .icon {
      display: block;
      height: 170px;
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-radius: 15px;
      margin: auto;
      margin-bottom: 30px;
      box-shadow: 0px 15px 50px 10px rgba($black, 0.04);
      position: relative;
      z-index: 1;
      font-size: 50px;

      @include desktop {
        height: 150px;
        width: 150px;
        font-size: 36px;
      }

      @include mobile {
        height: 120px;
        width: 120px;
        max-width: 100%;
        font-size: 30px;
      }

      &::after {
        position: absolute;
        content: "";
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
        border-radius: 12px;
        z-index: -1;

        @include mobile {
          height: calc(100% - 30px);
          width: calc(100% - 30px);
          top: 15px;
          left: 15px;
        }
      }
    }

    .title {
      line-height: 1;
    }
  }

  &:nth-child(1) .block,
  &:nth-child(5) .block {
    .icon {
      &::after {
        @extend .bg-primary-soft;
      }

      color: $color-primary;
    }
  }

  &:nth-child(2) .block,
  &:nth-child(6) .block {
    .icon {
      &::after {
        @extend .bg-secondary-soft;
      }

      color: $color-secondary;
    }
  }

  &:nth-child(3) .block,
  &:nth-child(7) .block {
    .icon {
      &::after {
        @extend .bg-tertiary-soft;
      }

      color: $color-tertiary;
    }
  }

  &:nth-child(4) .block,
  &:nth-child(8) .block {
    .icon {
      &::after {
        @extend .bg-quaternary-soft;
      }

      color: $color-quaternary;
    }
  }

  &-alt {
    .block {
      box-shadow: 0px 15px 50px 10px rgba($black, 0.05);
      @extend .rounded-md;
      position: relative;
      padding: 50px 20px;

      &::after {
        position: absolute;
        content: "";
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
        border-radius: 12px;
        z-index: -1;

        @include mobile {
          height: calc(100% - 30px);
          width: calc(100% - 30px);
          top: 15px;
          left: 15px;
        }
      }

      .title {
        line-height: 1;
      }
    }

    &:nth-child(1) .block,
    &:nth-child(5) .block {
      &::after {
        @extend .bg-primary-soft;
      }

      .title {
        color: $color-primary;
      }
    }

    &:nth-child(2) .block,
    &:nth-child(6) .block {
      &::after {
        @extend .bg-secondary-soft;
      }

      .title {
        color: $color-secondary;
      }
    }

    &:nth-child(3) .block,
    &:nth-child(7) .block {
      &::after {
        @extend .bg-tertiary-soft;
      }

      .title {
        color: $color-tertiary;
      }
    }

    &:nth-child(4) .block,
    &:nth-child(8) .block {
      &::after {
        @extend .bg-quaternary-soft;
      }

      .title {
        color: $color-quaternary;
      }
    }
  }
}

.fact-item-alt,
.fact-item {
  .title {
    @include desktop-lg {
      font-size: 38px;
    }
  }
}

.fun-facts-floating {
  margin-top: -50px;

  @include desktop {
    margin-top: 40px;
  }

  .fact-item:nth-child(1),
  .fact-item:nth-child(5) {
    .title {
      color: $color-primary;
    }
  }

  .fact-item:nth-child(2),
  .fact-item:nth-child(6) {
    .title {
      color: $color-secondary;
    }
  }

  .fact-item:nth-child(3),
  .fact-item:nth-child(7) {
    .title {
      color: $color-tertiary;
    }
  }

  .fact-item:nth-child(4),
  .fact-item:nth-child(8) {
    .title {
      color: $color-quaternary;
    }
  }
}

// process-item
.process-item {
  .process-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1.875rem;
    padding-bottom: 0;
    margin-bottom: 1.875rem;
    img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .hide-count.block::before {
    display: none;
  }

  .block {
    position: relative;
    &::before {
      position: absolute;
      content: attr(data-count);
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 25px;
      font-family: $font-primary;
      font-weight: 900;
      top: 0;
      left: calc(50% - 25px);
      background-color: $white;
      border-radius: 100%;
      box-shadow: 0px 0.9rem 50px 0.625rem rgba($black, 0.05);
    }
  }
  &:nth-child(1),
  &:nth-child(5) {
    .process-image {
      background-color: $color-secondary;
    }
    .block::before {
      color: $color-secondary;
    }
  }
  &:nth-child(2),
  &:nth-child(6) {
    .process-image {
      background-color: $color-tertiary;
    }
    .block::before {
      color: $color-tertiary;
    }
  }
  &:nth-child(3),
  &:nth-child(7) {
    .process-image {
      background-color: $color-quaternary;
    }
    .block::before {
      color: $color-quaternary;
    }
  }
  &:nth-child(4),
  &:nth-child(8) {
    .process-image {
      background-color: $color-primary;
    }
    .block::before {
      color: $color-primary;
    }
  }
}

// work-process-item
.work-process-item {
  .work-process-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 30px;

    img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .block {
    position: relative;

    &::before {
      position: absolute;
      content: attr(data-count);
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 25px;
      font-family: $font-primary;
      font-weight: 900;
      top: 0;
      left: calc(50% - 25px);
      background-color: $white;
      border-radius: 100%;
      box-shadow: 0px 15px 50px 10px rgba($black, 0.05);
    }
  }

  &:nth-child(1),
  &:nth-child(5) {
    .work-process-image {
      background-color: $color-secondary;
    }

    .block::before {
      color: $color-secondary;
    }
  }

  &:nth-child(2),
  &:nth-child(6) {
    .work-process-image {
      background-color: $color-tertiary;
    }

    .block::before {
      color: $color-tertiary;
    }
  }

  &:nth-child(3),
  &:nth-child(7) {
    .work-process-image {
      background-color: $color-quaternary;
    }

    .block::before {
      color: $color-quaternary;
    }
  }

  &:nth-child(4),
  &:nth-child(8) {
    .work-process-image {
      background-color: $color-primary;
    }

    .block::before {
      color: $color-primary;
    }
  }
}

// testiminials style
.testimonials-carousel.has-border {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: calc(100% - 30px);
    width: 100%;
    border: 2px solid rgba($black, 0.1) !important;
    transition: 0.3s;
    z-index: 33;
    pointer-events: none;
    @extend .rounded-lg;
  }

  &:hover::after {
    border-color: $color-primary !important;
  }
}

.testimonials-rating {
  --percent: calc(var(--testimonials_rating) / 5 * 100%);
  display: inline-block;
  font-size: 30px;
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: "★★★★★";
    background: linear-gradient(
      90deg,
      #fc0 var(--percent),
      #eaeaea var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.testiminials-block {
  padding: 30px 15px;
  margin: 15px;
  position: relative;
  z-index: 1;

  @include mobile {
    margin: 0;
  }

  &.hide-quote::after {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    height: 90px;
    width: 90px;

    @include mobile {
      height: 60px;
      width: 60px;
    }

    color: $color-primary;
    top: 40px;
    right: 40px;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg width='96' height='85' viewBox='0 0 96 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M90.5955 0.573242H60.9761C58.2869 0.573242 56.1045 2.75573 56.1045 5.44486V35.0643C56.1045 37.7535 58.2869 39.9359 60.9761 39.9359H75.1525C74.9673 47.6916 73.1648 53.8979 69.7547 58.5649C67.0656 62.2479 62.993 65.2975 57.5464 67.7041C55.0424 68.8051 53.9609 71.767 55.1301 74.2419L58.6377 81.6467C59.7679 84.024 62.5642 85.0666 64.9805 84.024C71.4305 81.2374 76.8771 77.7104 81.3199 73.4234C86.7372 68.1912 90.4493 62.2869 92.4564 55.7004C94.4636 49.114 95.4671 40.1308 95.4671 28.7312V5.44486C95.4671 2.75582 93.2845 0.573242 90.5955 0.573242Z' fill='%23FFF4CE'/%3E%3Cpath d='M10.7987 84.0045C17.1708 81.2277 22.588 77.7007 27.0602 73.4234C32.5261 68.1913 36.2578 62.3063 38.2649 55.7686C40.272 49.2309 41.2755 40.2184 41.2755 28.7312V5.44486C41.2755 2.75573 39.0931 0.573242 36.4038 0.573242H6.78442C4.09528 0.573242 1.9128 2.75573 1.9128 5.44486V35.0643C1.9128 37.7535 4.09528 39.9359 6.78442 39.9359H20.9608C20.7757 47.6916 18.9732 53.8979 15.5631 58.5649C12.8739 62.2479 8.80126 65.2975 3.3548 67.7041C0.850788 68.8051 -0.23071 71.767 0.938478 74.2419L4.4363 81.6273C5.56661 84.0045 8.3824 85.0569 10.7987 84.0045Z' fill='%23FFF4CE'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// testiminials style two
.testiminials-alt {
  padding-bottom: 150px;

  .section-title {
    margin-bottom: 80px;
  }

  .avatar {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    padding-top: 10px;

    &::after {
      position: absolute;
      content: "";
      height: calc(100% - 10px);
      width: 100%;
      background-color: $color-secondary;
      top: 0;
      right: -10px;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .has-avatar-groups {
    position: relative;

    .image-left,
    .image-right {
      position: absolute;
      height: 130%;
      width: auto;
      z-index: -1;
      pointer-events: none;
      top: -15%;

      @include desktop {
        height: 100%;
        top: 0;
        opacity: 0.1;
      }

      img {
        max-height: 100%;
        width: auto;
      }
    }

    .image-left {
      left: 0;
    }

    .image-right {
      right: 0;
    }
  }

  .testimonials-review {
    .quote {
      color: $color-primary;
      font-size: 130%;
      position: relative;

      &.fa-quote-left {
        margin-right: 15px;
        top: -1px;
      }

      &.fa-quote-right {
        top: 10px;
        margin-left: 17px;
      }
    }
  }
}

// blog style
.blog-banner {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem 0 8rem;

  .container {
    position: relative;
    z-index: 1;
  }

  &-shape-1,
  &-shape-2,
  &-shape-3 {
    .path {
      fill: $color-primary;
    }
  }

  &-shape-1 {
    position: absolute;
    left: 20%;
    top: 25%;
  }

  &-shape-2 {
    position: absolute;
    right: 20%;
    top: 25%;
  }

  &-shape-3 {
    position: absolute;
    right: 25%;
    bottom: 15%;
  }

  &-border {
    position: absolute;
    bottom: -3.75rem;
    left: 0;
    width: 100%;
    stroke: $color-primary;
  }

  .category-list {
    li {
      margin-bottom: 0.725rem;

      a {
        font-size: 1rem;
        padding: 3px 1rem;
        border: 1px solid rgba($color-primary, 0.2);
        border-radius: 1.875rem;
        display: block;
        color: $text-color;

        &.active,
        &:hover {
          border-color: $color-primary;
          background: $color-primary;
          color: $white;
        }
      }
    }
  }
}

.blog-card {
  .card-body {
    padding: 0 30px;
    padding-top: 45px;
    padding-bottom: 15px;
  }

  .badge {
    padding: 12px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: -17px;
    left: 30px;
    border-radius: 6px;
  }

  .blog-title {
    color: $text-dark;

    &:hover {
      text-decoration: underline;
    }
  }

  .card-footer {
    padding: 0 30px 25px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 0;
  }

  .card-author {
    padding-top: 20px;
    border-top: 1px solid #dedddd;
  }

  .user-info {
    font-size: 16px;
    color: #777;

    a {
      color: #777;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.has-border {
    .card-body {
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
    }

    .card-footer {
      border: 1px solid #e8e8e8;
      border-top: 0;
    }
  }

  &:nth-child(odd) {
    .badge {
      background-color: $color-primary;
    }

    .blog-title:hover {
      color: $color-primary;
    }

    .user-info a:hover {
      color: $color-primary;
    }
  }

  &:nth-child(even) {
    .badge {
      background-color: $color-tertiary;
    }

    .blog-title:hover {
      color: $color-tertiary;
    }

    .user-info a:hover {
      color: $color-tertiary;
    }
  }
}

.disqus-block,
.post-author {
  padding: 30px;

  @include mobile {
    padding: 30px 20px;
  }
}

.post-author {
  @include mobile {
    display: block !important;
  }

  .author-image {
    height: 80px;
    min-width: 80px;
    margin-right: 25px;

    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.post-meta {
  a {
    color: $text-dark;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

// events & webinars
.event-section {
  .section-title {
    @include mobile {
      margin-bottom: 0px;
    }
  }
  .event-card {
    // > a {
    //   display: block;
    //   overflow: hidden;
    //   height: 350px;
    //   width: 100%;

    //   img {
    //     height: 100% !important;
    //     object-fit: cover;
    //   }
    // }
    .badge {
      font-size: 12px;
      font-weight: 400;
      background-color: #ba565c !important;
    }
    .card-body {
      p {
        font-size: 15px;
      }
    }
  }
  .pagination {
    justify-content: flex-end !important;
    margin-top: 25px;
  }
}

// case-studies
.case-studies-card.has-border {
  .card-body {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border: 1px solid #e8e8e8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 25px;
  }
}

.case-studies-signup-card {
  .card-body {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

// call-to-action
.call-to-action {
  .bottom-bg {
    position: absolute;
    content: "";
    height: calc(50% - 55px);
    width: calc(100% + 50%);
    left: -25%;
    bottom: 0;
    background-color: $dark;
    z-index: -1;
  }

  &-2 {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
  }

  &-3 {
    position: relative;
    z-index: 1;
    overflow-x: hidden;

    .title {
      position: relative;
      z-index: 1;

      .bg-layer {
        position: absolute;
        content: "";
        height: 150%;
        width: 80%;
        left: 0;
        top: 0;
        z-index: -1;
        pointer-events: none;

        @include desktop {
          width: 100%;
          top: -70%;
        }
      }
    }
  }

  .block {
    .content-block {
      padding: 55px;
      padding-right: 30px;

      @include desktop-lg {
        br {
          display: none;
        }
      }

      @include desktop {
        padding: 65px 0;
        text-align: center;
      }
    }

    @include desktop {
      padding: 0 35px;
      text-align: center;
    }

    @include mobile {
      padding: 0 15px;
      text-align: center;
    }
  }
}

// features-box
.features-box {
  transition: 0.3s;

  .block {
    padding: 60px 40px 30px 40px;
    border: 2px solid transparent;
    transition: 0.3s;

    @include desktop-lg {
      padding: 50px 30px 30px 30px;
    }

    @include mobile {
      h3,
      h4,
      h5 {
        br {
          display: none;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-4px);
  }

  .icon {
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: $white;

    @include desktop-lg {
      height: 65px;
      width: 65px;
      line-height: 65px;
      font-size: 22px;
    }

    &.bg-transparent {
      height: initial;
      width: initial;
      line-height: initial;
      font-size: 52px;
    }
  }

  .icon {
    @extend .bg-primary;

    &.bg-transparent {
      background-color: transparent !important;
      color: $color-primary;
    }
  }

  &:hover {
    .block {
      border-color: $color-primary;
    }
  }

  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(7),
  &:nth-child(10) {
    .icon {
      @extend .bg-primary;

      &.bg-transparent {
        background-color: transparent !important;
        color: $color-primary;
      }
    }

    &:hover {
      .block {
        border-color: $color-primary;
      }
    }
  }

  &:nth-child(2),
  &:nth-child(5),
  &:nth-child(8),
  &:nth-child(11) {
    .icon {
      @extend .bg-quaternary;

      &.bg-transparent {
        background-color: transparent !important;
        color: $color-quaternary;
      }
    }

    &:hover {
      .block {
        border-color: $color-quaternary;
      }
    }
  }

  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(9),
  &:nth-child(12) {
    .icon {
      @extend .bg-tertiary;

      &.bg-transparent {
        background-color: transparent !important;
        color: $color-tertiary;
      }
    }

    &:hover {
      .block {
        border-color: $color-tertiary;
      }
    }
  }
}

// has-avatar-shadow
.has-avatar-shadow {
  .avatar {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    padding-top: 10px;

    img {
      border-radius: inherit;
    }

    &::after {
      position: absolute;
      content: "";
      height: calc(100% - 10px);
      width: 100%;
      background-color: $color-secondary;
      top: 0;
      right: -10px;
      border-radius: inherit;
      z-index: -1;
    }
  }

  &:nth-child(1),
  &:nth-child(6),
  &:nth-child(9),
  &:nth-child(13) {
    .avatar::after {
      background-color: $color-primary;
    }
  }

  &:nth-child(2),
  &:nth-child(5),
  &:nth-child(8),
  &:nth-child(11) {
    .avatar::after {
      background-color: $color-secondary;
    }
  }

  &:nth-child(3),
  &:nth-child(12),
  &:nth-child(10),
  &:nth-child(15) {
    .avatar::after {
      background-color: $color-tertiary;
    }
  }

  &:nth-child(4),
  &:nth-child(14),
  &:nth-child(7),
  &:nth-child(16) {
    .avatar::after {
      background-color: $color-quaternary;
    }
  }
}

// career sidebar
.sidebar-widget {
  padding: 40px 30px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

// share-this-post
.share-this-post {
  background-color: #f3f3f3;
  padding: 6px 15px;
  padding-top: 14px;
}

a.share-icon {
  color: $color-primary;
  background-color: rgba($color-primary, 0.1);
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid transparent;
  font-size: 15px;
  border-radius: 6px;

  &:hover {
    border: 1px solid rgba($color-primary, 0.3);
  }
}

// pricing-card
.pricing-card {
  position: relative;
  margin-top: 12px;

  &.popular::before {
    position: absolute;
    content: attr(data-text);
    background-color: $color-tertiary;
    color: $white;
    font-weight: 600;
    padding: 1px 15px;
    font-size: 14px;
    border-radius: 25px;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
  }

  .features {
    * {
      line-height: 1.4;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        border-top: 1px solid #dcdcdc;
        padding: 10px 0;

        strong {
          font-weight: 500;
          font-size: 95%;
          color: $color-quaternary;
        }

        &:last-child {
          padding-bottom: 1.875rem;
        }

        &:nth-child(1),
        &:nth-child(5),
        &:nth-child(9),
        &:nth-child(13) {
          strong {
            color: $color-primary;
          }
        }

        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(10),
        &:nth-child(14) {
          strong {
            color: $color-quaternary;
          }
        }

        &:nth-child(3),
        &:nth-child(7),
        &:nth-child(11),
        &:nth-child(15) {
          strong {
            color: $color-tertiary;
          }
        }

        &:nth-child(4),
        &:nth-child(8),
        &:nth-child(12),
        &:nth-child(16) {
          strong {
            color: $color-secondary;
          }
        }
      }
    }
  }
}

// accordion style
.accordion-item {
  &:not(:last-child) {
    border-bottom: 1px solid #dcdcdc !important;
  }

  .accordion-button {
    padding-top: 20px;
    padding-bottom: 20px;

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 16 16%22 fill=%22%23000%22%3E%3Cpath fill-rule=%22evenodd%22 d=%22M1.646 4.646a.5.5.0 01.708.0L8 10.293l5.646-5.647a.5.5.0 01.708.708l-6 6a.5.5.0 01-.708.0l-6-6a.5.5.0 010-.708z%22/%3E%3C/svg%3E");
      position: absolute;
      left: 0;
      transform: rotate(-90deg);
    }

    &:not(.collapsed)::after {
      transform: rotate(-180deg);
    }
  }

  .accordion-button,
  .accordion-body {
    padding-left: 32px !important;
  }
}

.accordion-button:not(.collapsed) {
  color: $dark;
  background-color: transparent;
}

.accordion-body {
  &.content {
    *:not(li) {
      margin-bottom: 10px;
    }
  }
}

// footer
footer {
  position: relative;
  z-index: 1;
  padding: 100px 0 0;

  @include desktop {
    padding: 90px 0 0;
  }

  @include tablet {
    padding: 60px 0 0;
  }

  .btn-search-footer {
    cursor: text;
    border: 2px solid rgba($white, 0.4) !important;

    &:hover {
      border: 2px solid rgba($white, 1) !important;
    }
  }

  .footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }

  .footer-menu {
    margin-top: 60px;
    padding: 60px 0;
    border-top: 1px solid rgba($white, 0.2);
    border-bottom: 1px solid rgba($white, 0.2);

    &-title {
      font-size: 18px;
      margin-bottom: 20px;
    }

    ul li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      a {
        color: #c4c4c4;
        font-weight: 400;

        @media screen and (min-width: 1400px) {
          font-size: 96%;
        }

        &:hover {
          color: $white;
        }
      }
    }
  }

  &.bg-light {
    .btn-search-footer {
      cursor: text;
      border: 2px solid rgba($dark, 0.4) !important;

      &:hover {
        border: 2px solid rgba($dark, 1) !important;
      }
    }

    .footer-menu {
      border-top: 1px solid rgba($dark, 0.2);
      border-bottom: 1px solid rgba($dark, 0.2);

      ul li {
        a {
          color: #555;

          &:hover {
            color: $dark;
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 55px 0;

    @include tablet {
      padding: 30px 0;
    }
  }
}

.lc-card {
  box-shadow: 0 0.9rem 50px 0.625rem rgba(62, 62, 62, 0.05);
  transition: 0.2s ease;
  border: 0;
  padding: 15px;

  &-text {
    margin-bottom: 0;
  }

  &-title {
    font-weight: 700;
  }

  &-body {
    padding: 25px;
  }

  &:hover {
    box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.15) !important;
  }
}

.list-styled {
  padding-left: 0;
  list-style: none;

  li {
    padding: 3px 0 3px 20px;
    position: relative;

    a {
      color: #777;

      &:hover {
        color: $color-primary;
      }
    }

    &::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $color-primary;
      left: 3px;
      top: 13px;
      padding: 2px;
      border: 2px solid $body-color;
      box-shadow: 0 0 0 2px $color-primary;
    }
  }
}

// table of content
#TableOfContents {
  position: sticky;
  top: 77px;
  padding-top: 20px;
  padding-left: 0;
  padding-bottom: 30px;
  border-left: 1px solid #e6ebef;
  height: 80vh;
  overflow-y: auto;

  * {
    list-style: none;
  }

  a {
    font-size: 0.8rem;
    display: block;
    padding: 5px 0;
    color: rgba($text-dark, 0.8);
    font-weight: 500;
    transition: 0.2s ease;
    padding-left: 10px;

    &.active {
      position: relative;
      color: $color-primary;
      background-color: rgba($color-primary, 0.08);
      border-radius: 6px;

      &::before {
        position: absolute;
        content: "";
        left: -10px;
        top: 25%;
        height: 50%;
        width: 1px;
        background: $color-primary;
      }
    }
  }

  ul {
    margin-bottom: 10px;
    padding-left: 5px;
  }

  & > ul {
    & > li:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }
}

.toc-mobile {
  background-color: #f9f9f9;
  border-radius: 6px;

  svg {
    transition: 0.25s;
  }

  [aria-expanded="true"] {
    .toc-icon {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  #TableOfContents {
    height: auto;
    max-height: 50vh;
    padding-bottom: 0;
    border-left: 0;

    ul {
      margin-bottom: 0;
    }

    a {
      font-size: 1rem;
    }
  }
}

.blog-sidebar {
  .block {
    position: sticky;
    top: 85px;
    overflow-y: auto;
    max-height: 85vh;

    &::-webkit-scrollbar {
      opacity: 0;
    }
  }

  #TableOfContents {
    border-left: 0;
    padding-bottom: 20px;
    position: static;
    height: auto;
    background-color: rgba($color-primary, 0.03);
    @extend .rounded-sm;
    padding-right: 10px;

    ul {
      padding-top: 2px;
      margin-bottom: 0;

      li:not(:last-child) {
        border-bottom: 0;
      }

      a {
        font-size: 0.9rem;
        padding-left: 18px;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &::before {
      content: "IN THIS SECTION";
      letter-spacing: 1px;
      opacity: 0.6;
      padding-left: 25px;
    }
  }
}

.pagination {
  margin-top: 50px;
  justify-content: space-between;

  a {
    color: $color-primary;
    font-size: 18px;
    font-weight: 500;
  }

  svg {
    height: 28px;
    font-size: 15px;
  }
}

// autocomplete
.autocomplete-suggestions {
  border: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 50px 60px rgba(62, 62, 62, 0.102) !important;
  background: $white;

  &::-webkit-scrollbar {
    width: 5px;

    &-track {
      background: $light;
    }

    &-thumb {
      background: $border-color;
    }
  }

  .autocomplete-suggestion {
    transition: 0.2s ease;
    padding: 5px 10px;

    &.selected {
      background: $color-primary;
    }
  }
}

.search-wrapper {
  position: relative;

  button {
    position: absolute;
    right: 6px;
    bottom: 6px;
    z-index: 55;
  }
}

.scrolledPopup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  max-height: 100vh;
  overflow-y: auto;

  &.show {
    display: block;
  }

  .scrolledPopupOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    cursor: pointer;
  }

  .btn-close {
    position: fixed;
    right: 30px;
    top: 20px;
    background-color: #fff;
    border-radius: 4px;
    opacity: 1;
    padding: 12px;
  }

  .popup-content {
    margin: 30px auto;
    width: 97%;
    max-width: 550px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 22;
  }
}

.events-form {
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  display: flex;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  max-height: 100vh;
  flex-direction: column;

  &#has-video-form-submit-action {
    form {
      display: none;
    }
    .popup-content {
      max-width: 900px;
    }
    .video-content {
      display: block;
    }
    .events-form-overlay {
      background-color: rgba(0, 0, 0, 1);
    }
  }

  .popup-content {
    max-width: 600px;
    width: 97%;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 22;
    margin: auto;
  }
  .video-content {
    display: none;
  }

  .events-form-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
  }

  .btn-close {
    position: fixed;
    right: 30px;
    top: 20px;
    background-color: #fff !important;
    border-radius: 4px;
    opacity: 1;
    padding: 12px;
    &.visible {
      display: block;
    }
  }
}

.events-form-shortcode {
  display: flex;
  flex-direction: column;
  .popup-content {
    max-width: 600px;
  }
  &#has-video-form-submit-action {
    form {
      display: none;
    }
    .popup-content {
      max-width: 900px;
    }
    .video-content {
      display: block;
    }
    .events-form-overlay {
      background-color: rgba(0, 0, 0, 1);
    }
  }
  .video-content {
    display: none;
  }

  .popup-content {
    max-width: 600px;
  }
  &#has-video-form-submit-action {
    form {
      display: none;
    }
    .popup-content {
      max-width: 900px;
    }
    .video-content {
      display: block;
    }
    .events-form-overlay {
      background-color: rgba(0, 0, 0, 1);
    }
  }
  .video-content {
    display: none;
  }
}

// animated section block
[data-section] {
  padding: 100px 0;

  @include desktop {
    padding: 90px 0;
  }
}

.anim-block {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;

  &-inner {
    perspective: 1800px;
    display: flex;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: 0;
    margin: 0;
    height: 100vh;
  }
}

.assets {
  position: relative;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 35%;
  perspective: 1800px;
  transform: translateX(20%);

  .asset-bg-image {
    width: 100%;
    display: block;
    will-change: transform;
    transform-origin: center top;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: rotate(-4e-5deg) rotateY(15deg) rotateX(9.99994deg);
  }

  &-right {
    transform: translateX(160%);

    .asset-bg-image {
      transform: rotate(-4e-5deg) rotateY(-15deg) rotateX(9.99994deg);
    }

    [data-image] {
      transform: translateX(-50%) scale(1) rotate(-4e-5deg) rotateY(-15deg)
        rotateX(9.99994deg);
    }
  }

  [data-image] {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scale(0.6) rotate(-4e-5deg) rotateY(-15deg)
      rotateX(9.99994deg);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.23s;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));

    img {
      width: 100%;
    }

    &.show {
      transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition-delay: 0.1s;
      top: 0%;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1) rotate(-4e-5deg) rotateY(15deg)
        rotateX(9.99994deg);
    }
  }
}

.mindmap-node {
  user-select: none;

  &.disable {
    pointer-events: none;
  }
}

.clickable {
  cursor: pointer;
  user-select: none;
}

[data-mindmap] {
  * {
    @extend .clickable;
  }

  @extend .clickable;

  [class^="node-line"],
  .node-bkg {
    transition: 0.3s;
  }

  &:hover {
    .node-bkg {
      // fill: $color-primary !important;
      filter: brightness(0.9);
    }

    [class^="node-line"] {
      stroke: $color-primary !important;
    }

    // text {
    //   fill: $white !important;
    // }
  }
}

.roadmap-list-item {
  padding-top: 14px;
  padding-bottom: 14px;
  transition: 0.3s;
  border-color: #eeeeee !important;

  &:hover {
    opacity: 0.9;
    transform: scale(0.995);
    background-color: #eee;
  }
}

.content-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -200%;
  top: -200%;
}

// CTA With Image
.cta-with-image-row {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 14px;

  * {
    margin-bottom: 0px !important;
  }

  .cta-with-image {
    position: relative;
    padding: 25px;
    max-width: 500px;
    width: 100%;
    border-radius: 14px;
    height: 100%;

    &.has-image {
      padding-right: 100px;

      @include mobile {
        padding-right: 25px;
      }
    }

    .image {
      position: absolute;
      right: 0px;
      bottom: 0px;
      max-height: 100%;

      @include mobile {
        display: none;
      }
    }

    > div {
      .heading {
        font-weight: 500 !important;
        margin-bottom: 24px !important;
      }
    }
  }
}

// CTA Card
.cta-card-row {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;

  * {
    margin-bottom: 0px !important;
  }

  .cta-card {
    width: 100%;
    display: flex;
    padding: 30px;
    max-width: 500px;
    min-height: 100%;
    border-radius: 14px;
    flex-direction: column;
    border: 1px solid $border-color;

    &-header {
      gap: 20px;
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: 10px !important;
      border-bottom: 1px solid $border-color;

      .icon {
        min-width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 12px;
      }

      h3 {
        font-weight: 400 !important;
        margin-bottom: 0px !important;
      }
    }

    &-body {
      padding-top: 10px;
      padding-bottom: 20px;
    }

    &-btn {
      svg {
        width: 16px;
        margin-left: 5px;
        transition: 0.4s all ease;
      }

      &:hover svg {
        margin-left: 10px;
      }
    }
  }
}

// Code Highlight
.code-highlight {
  overflow: hidden;
  margin-top: 24px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  margin-bottom: 24px;
  background-color: #272822;

  &.no-file-name {
    .file-extension {
      top: 0px;
    }

    .copy {
      top: 16px;
    }

    .pre {
      padding-top: 65px !important;
    }
  }

  .file-name {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    padding-block: 16px;
    background-color: lighten($color: #272822, $amount: 8);
  }

  .file-extension {
    top: 59px;
    left: 20px;
    font-size: 12px;
    padding-top: 8px;
    font-weight: 500;
    position: absolute;
    padding-inline: 8px;
    padding-bottom: 4px;
    color: rgb(210, 202, 202);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: lighten($color: #272822, $amount: 8);
  }

  .copy {
    top: 76px;
    right: 16px;
    cursor: pointer;
    font-size: 14px;
    color: #c1bdbd;
    padding-left: 16px;
    border-radius: 6px;
    padding-block: 6px;
    position: absolute;
    padding-right: 16px;
    background: #3c3e35;
  }

  .highlight {
    margin-top: 60px;
    margin-bottom: 0px !important;
  }

  pre {
    font-size: 16px;
  }
}

// Links
.link {
  padding: 20px;
  margin-block: 40px;
  border-radius: 10px;
  border: 1px solid rgba($color-primary, 0.2);

  .link-title {
    color: $dark;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .link-item {
    align-items: center;
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    padding: 14px 24px;
    border: 2px solid $color-primary;
    color: $white !important;
    background-color: $color-primary;

    @include mobile {
      padding: 14px;
      font-size: 14px;
    }

    &:hover {
      text-decoration: none;
      background-color: transparent !important;
    }

    .text {
      margin-inline: auto;
      padding-inline: 40px;

      @include mobile {
        padding-inline: 20px;
      }
    }

    > * {
      margin-bottom: 0px;
    }
  }

  a.link-item:hover {
    svg feFlood {
      flood-color: var(--hover-color) !important;
    }

    .text {
      color: var(--hover-color) !important;
    }
  }

  button.link-item:hover {
    svg feFlood {
      flood-color: var(--hover-color-button) !important;
    }

    .text {
      color: var(--hover-color-button) !important;
    }
  }
}

// Events
.form-submit-btn {
  > span {
    margin-right: 5px;
  }
  i {
    display: none;
  }
  &.loading {
    pointer-events: none;
    cursor: not-allowed;

    i {
      display: inline-block;
    }
  }
}
