<article class="card border-0 rounded-md overflow-hidden h-100">
  <a href="{{ .RelPermalink }}" title="{{ .Title }}">
    {{ with .Params.image }}
    {{ if fileExists (add `assets/` .) }}
    {{ partial "image.html" (dict "Src" . "Size" "570x" "Webp" false "Class" "card-img-top h-auto" ) }}
    {{else}}
    <img class="img-fluid" src="https://via.placeholder.com/570x321.png/eee/eee" alt="image-fallback">
    {{end}}
    {{end}}
  </a>
  <div class="card-body position-relative border-top-0">
    <span class="badge text-white text-uppercase">{{ .PublishDate.Format "Jan 02, 2006" }}</span>
    <h3 class="h5">
      <a class="blog-title" href="{{.RelPermalink}}" title="{{.Title}}">{{.Title}}</a>
    </h3>
    <p class="mb-0">{{ .Plain | truncate 110 }}</p>
  </div>
</article>