{{if site.Params.call_to_action.enable}}
<section class="section pb-0 call-to-action call-to-action-2">
  <div class="container container-delta">
    <div class="row">
      <div class="col-lg-12">
        <div class="block bg-white rounded-lg shadow">
          <div class="row g-0 align-items-center">
            <div class="col-lg-8">
              <div class="content-block">
                <h3 class="text-capitalize mb-2">{{site.Params.call_to_action.title | markdownify}}</h3>
                <p class="mb-4">{{site.Params.call_to_action.subtitle | markdownify}}</p>
                {{if site.Params.call_to_action.button_label}}
                <a href="{{site.Params.call_to_action.button_link | relLangURL}}" class="btn btn-primary">{{site.Params.call_to_action.button_label}} <i class="arrow-right fas fa-arrow-right"></i></a>
                {{end}}
              </div>
            </div>
            {{with site.Params.call_to_action.image}}
            <div class="col-lg-4">
              {{$img:= resources.Get . }}
              {{$img:= $img.Resize "425x"}}
              {{$imgWebp:= $img.Resize "425x webp"}}
              <img loading="lazy" decoding="async" class="rounded-lg img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imgWebp.RelPermalink}}" alt="cta Image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}