{{ $title := .Get "title" | markdownify }}
{{ $title_color := .Get "title_color" | markdownify }}
{{ $subtitle:= .Get "subtitle" | markdownify }}
{{ $subtitle_color:= .Get "subtitle_color" | markdownify }}
{{ $order:= .Get "order" }}
{{ $slider:= .Get "slider" }}
{{ $images := split (.Get "images") "," }}
{{ $image_bg_color := .Get "image_bg_color" }}
{{ $padding_top := .Get "has_padding_top" }}
{{ $padding_bottom := .Get "has_padding_bottom" }}


<section
  class="section not-content {{ if not $padding_top }}
    pt-0
  {{ end }}{{ if not $padding_bottom }}pb-0{{ end }}">
  <div class="container container-delta">
    <div class="row gx-4 gy-4 gx-xl-5 align-items-center">
      <div class="col-lg-6 {{ if $order }}order-1 order-lg-1{{ end }}">
        <div class="section-title mb-2">
          {{ if $subtitle }}
            <p
              class="subtitle"
              {{ with $subtitle_color }}
                style="color: {{ . }}!important"
              {{ end }}>
              {{ $subtitle | markdownify }}
            </p>
          {{ end }}
          {{ if $title }}
            <h2
              class="title mb-0"
              {{ with $title }}
                style="color: {{ . }}!important"
              {{ end }}>
              {{ $title | markdownify }}
            </h2>
          {{ end }}
        </div>

        <div class="content formatted-list">{{ .Inner | markdownify }}</div>
      </div>
      <div class="col-lg-6">
        <div
          class="py-3 py-md-6 px-2 px-md-4 rounded-md"
          {{ with $image_bg_color }}style="background-color: {{ . }}"{{ end }}>
          <div class="px-0 px-md-3 my-0 my-lg-3">
            {{ if $slider }}
              <div class="post-carousel swiper-container text-center pb-6">
                {{ with $images }}
                  <div class="swiper-wrapper">
                    {{ range . }}
                      {{ partial "image.html" (dict "Src" . "Size" "600x" "Webp" false "Class" "swiper-slide img-fluid px-2" ) }}
                    {{ end }}
                  </div>
                  <div class="swiper-pagination"></div>
                {{ end }}
              </div>
            {{ else }}

              <div class="px-2 px-md-4 text-center">
                {{ with $images }}
                  <div class="">
                    {{ range . }}
                      {{ partial "image.html" (dict "Src" . "Size" "600x" "Webp" false "Class" "swiper-slide img-fluid px-2" ) }}
                    {{ end }}
                  </div>
                {{ end }}
              </div>
            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
