{{ $title := .Get "title" }}
{{ $subtitle := .Get "subtitle" }}
{{ $description := .Get "description" }}
{{ $button_label := .Get "button_label" }}
{{ $button_link := .Get "button_link" }}
{{ $padding_top := .Get "has_padding_top" }}
{{ $padding_bottom := .Get "has_padding_bottom" }}

<section
  class="section not-content {{ if not (eq $padding_top `true`) }}
    pt-0
  {{ end }}{{ if not (eq $padding_bottom `true`) }}pb-0{{ end }}">
  <div class="container container-delta">
    <div class="row justify-content-between">
      <div class="col-xl-5 col-lg-6 text-center text-lg-start mb-5 mb-lg-0">
        <p class="subtitle">{{ $subtitle | markdownify }}</p>
        <h1 class="title text-xl mb-3">{{ $title | markdownify }}</h1>
        <p class="mb-4">{{ $description | markdownify }}</p>

        <a href="{{ $button_link | relLangURL }}" class="btn btn-primary m-1">
          {{ $button_label }}
          <i class="arrow-right fas fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="accordion" id="faq">
          {{ .Inner }}
        </div>
      </div>
    </div>
  </div>
</section>
