{{ $netlify := .Get "netlify" }}
{{ $method := .Get "method" }}
{{ $conditionalForm := .Get "conditional-form" }}
{{ $class := .Get "class" }}
{{ $action := .Get "action" }}
{{ $gutter := default "2" (.Get "gutter") }}
{{ $background := default "#1D1F26" (.Get "background") }}
{{ $style := default "rounded-boxed" (.Get "style") }}


<div
  class="p-3 {{ if eq $style `rounded-boxed` }}
    rounded-sm
  {{ end }}"
  {{ with $background }}style="background-color: {{ . }}"{{ end }}>
  <form
    {{ with $netlify }}netlify method="post"{{ end }}
    {{ with $action }}action="{{ . }}"{{ end }}
    {{ with $conditionalForm }}conditional-form="true"{{ end }}
    class="row g-2 mb-0 {{ with $class }}{{ . }}{{ end }}">
    {{ .Inner }}
  </form>
</div>

<div class="content">
  <div class="example-1">
    <div class="example-2"></div>
  </div>
  <div class="example-3">
    <div class="example-4">
      <div class="not-prose"></div>
    </div>
  </div>
</div>
