{{ $subtitle:= .Get "subtitle" }}
{{ $title:= .Get "title" }}
{{ $image:= .Get "image" }}


<section class="section">
  <div class="container container-delta">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <p class="subtitle">
            {{ $subtitle | markdownify }}
          </p>
          <h2 class="title">
            {{ $title | markdownify }}
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      {{ with $image }}
        <div class="col-lg-5 d-none d-lg-block">
          {{ partial "image.html" (dict "Src" . "Size" "520x" "Webp" false "Class" "img-fluid px-5" ) }}
        </div>
      {{ end }}
      <div class="col-lg-7">
        <div class="testimonials-carousel has-border swiper-container pb-4">
          <div class="swiper-wrapper">
            {{ .Inner }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
