{{ $name := .Get "name" }}
{{ $designation := .Get "designation" }}
{{ $rating := .Get "rating" }}
{{ $hide_quote := default true (.Get "hide_quote") }}


<div class="swiper-slide">
  <div
    class="testiminials-block rounded-lg {{ if $hide_quote }}
      hide-quote
    {{ end }}">
    {{ with $name }}
      <h5 class="mb-1">
        {{ . | markdownify }}
      </h5>
    {{ end }}
    {{ with $designation }}
      <p class="mb-1">
        {{ . | markdownify }}
      </p>
    {{ end }}
    {{ with $rating }}
      <div
        class="testimonials-rating mb-2"
        style="--testimonials_rating:{{ $rating }}"
        title="Rating of this product is {{ $rating }} out of 5.0"></div>
    {{ end }}
    <div class="testimonials-review">
      {{ .Inner | markdownify }}
    </div>
  </div>
</div>
