{{with .Params.call_to_action}}
{{if .enable}}
<section class="section pb-0 call-to-action call-to-action-3">
  <div class="bottom-bg" style="background-color: {{.bottom_bg_color}};"></div>
  <div class="container container-delta">
    <div class="row">
      <div class="col-12">
        <div class="block rounded-lg shadow overflow-hidden" style="background-color: {{.bg_color}};">
          <div class="row align-items-end align-items-lg-center g-0">
            <div class="col-lg-7">
              <div class="content-block">
                
                <h3 class="title h2 text-capitalize mb-2" style="color:{{.title_color}} !important">
                  {{.title | markdownify}}
                  {{ partial "image.html" (dict "Src" "images/call-to-actions/compage/bg-layer.svg" "Class" "bg-layer img-fluid" ) }}
                </h3>
                
                {{ if .subtitle }}
                <p class="mb-4" style="color:{{.subtitle_color}} !important">{{.subtitle | markdownify}}</p>
                {{ end }}
          
                {{ if .button_label }}
                  {{ if eq .button_type "modal" }}
                    <button class="btn btn-dark border-0" type="button" data-bs-toggle="modal" data-bs-target="{{.button_link}}">
                      {{.button_label}} <i class="arrow-right fas fa-arrow-right"></i>
                    </button>
                  {{ else }}
                    <a href="{{.button_link | relLangURL}}" class="btn btn-dark border-0">{{.button_label}} <i class="arrow-right fas fa-arrow-right"></i></a>
                  {{ end }}
                {{ end }}
                
              </div>
            </div>
            {{with .image}}
            <div class="col-lg-5 d-none d-lg-block mt-5 pt-5">
              {{ partial "image.html" (dict "Src" . "Class" "img-fluid" ) }}
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}