body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $color-primary, $amount: 10);
  color: $white;
}

.container-fluid {
  max-width: 2160px;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-color;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  .has-fade-animation {
    -webkit-animation: fadeinout 1s forwards infinite;
    animation: fadeinout 1s forwards infinite;

    @-webkit-keyframes fadeinout {
      50% {
        opacity: 0.4;
        transform: scale(0.95);
      }
    }

    @keyframes fadeinout {
      50% {
        opacity: 0.4;
        transform: scale(0.95);
      }
    }
  }
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $color-primary;
}

// swiper js
.swiper-pagination {
  bottom: -15px !important;

  span {
    display: inline-block;
    margin: 0 7px;
    cursor: pointer;
    padding: 8px 14px;
    position: relative;
    font-size: 0;
    background-color: transparent;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      left: 0;
      bottom: 55%;
      background-color: lighten($black, 5);
      transition: 0.3s;
    }

    &.swiper-pagination-bullet-active::after {
      background-color: $black;
    }
  }
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-container-vertical {
  padding-right: 40px;

  .swiper-pagination {
    bottom: -15px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    span {
      margin: 0 7px;
      padding: 14px 8px;

      &::after {
        height: 100%;
        width: 2px;
        left: 40%;
        bottom: 0;
      }
    }
  }
}

// section
.section {
  padding-top: 110px;
  padding-bottom: 110px;

  @include desktop {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &-sm {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &-title {
    margin-bottom: 45px;
  }
}

.subtitle {
  @extend .font-secondary;
  @extend .fw-700;
  @extend .text-capitalize;
  color: $banner-subtitle;
}

.title {
  @extend .text-capitalize;
}

.container-delta {
  @media (min-width: 1400px) {
    max-width: 1300px;
    padding: 0 55px;
  }

  @media (min-width: 575px) {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 17px;
  }

  @include mobile-xs {
    padding: 0 10px;
  }
}

.container-delta-lg {
  max-width: 1600px;
  padding: 0 55px;

  @media (min-width: 575px) {
    padding: 0 40px;
  }

  @include mobile {
    padding: 0 17px;
  }

  @include mobile-xs {
    padding: 0 10px;
  }
}

// default-pagination and social-links
.social-links,
.pagination {
  li {
    margin: 4px;

    a {
      font-weight: 500;
      border-radius: 12px !important;
      height: 38px;
      width: 38px;
      padding: 0;
      line-height: 38px;
      text-align: center;
      color: $text-dark;

      &:hover,
      &:focus {
        box-shadow: none;
        color: $white;
      }
    }

    &:nth-child(even) {
      a:hover,
      a:focus {
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }

    &:nth-child(odd) {
      a:hover,
      a:focus {
        background-color: $color-tertiary;
        border-color: $color-tertiary;
      }
    }
  }
}

.social-links {
  a {
    font-size: 16px;
    display: block;
    background-color: $white;
    border: 1px solid #dee2e6;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color !important;
}

.shadow-md {
  box-shadow: 0px 15px 50px 10px rgba($black, 0.05) !important;
}

.line-height-sm {
  line-height: 1.3;
}

/* overlay */
.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: 0.5;
    pointer-events: none;
  }
}

.overlay-30 {
  &::before {
    z-index: -1;
    opacity: 0.3;
  }
}

.outline-0 {
  outline: 0 !important;
}

.rounded-sm {
  border-radius: 12px;

  @include mobile {
    border-radius: 6px;
  }
}

.rounded-md {
  border-radius: 20px;

  @include tablet {
    border-radius: 12px;
  }

  @include mobile {
    border-radius: 6px;
  }
}

.rounded-lg {
  border-radius: 25px;

  @include tablet {
    border-radius: 15px;
  }

  @include mobile {
    border-radius: 6px;
  }
}

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.bg-primary {
  background: $color-primary !important;
}

.bg-primary-soft {
  background: $banner-primary !important;
}

.text-primary {
  color: $color-primary !important;
}

.bg-secondary {
  background: $color-secondary !important;
}

.bg-secondary-soft {
  background: lighten($banner-secondary, 31.18) !important;
}

.text-secondary {
  color: $color-secondary !important;
}

.bg-tertiary {
  background: $color-tertiary !important;
}

.bg-tertiary-soft {
  background: lighten(saturate($color-tertiary, 22.22), 26.27) !important;
}

.text-tertiary {
  color: $color-tertiary !important;
}

.bg-light {
  background: $light !important;
}

.bg-light-soft {
  background: lighten(saturate($light, 22.22), 26.27) !important;
}

.bg-quaternary {
  background: $color-quaternary !important;
}

.bg-quaternary-soft {
  background: lighten(
    saturate(adjust-hue($color-quaternary, -1), 19.78),
    45.49
  ) !important;
}

.text-quaternary {
  color: $color-quaternary !important;
}

.text-muted,
.text-default {
  color: $text-color !important;
}

.border {
  border-color: #dee2e6 !important;
}
.border-transparent {
  border-color: transparent !important;
}

// form-control

.form-control {
  padding: 20px;
  border: 1px solid rgba($black, 0.1);
  height: 56px;
  transition: 0.3s ease;

  &:focus {
    border-color: rgba($color-primary, 0.5);
  }
}

textarea.form-control {
  height: auto;
}

.form-control[type="file"] {
  padding: 11px 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form label {
  font-weight: 500;
  font-size: 80%;
  margin-bottom: 4px;
}

.custom-checkbox {
  margin-top: 15px;

  .custom-control-label::before {
    border-radius: 0;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: $color-primary;
    border-color: $color-primary;
    box-shadow: none;
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    box-shadow: none;
    border-color: $color-primary;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba($color-primary, 0.5);
    border-color: rgba($color-primary, 0.2);
  }
}

// check-list
.check-list {
  li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    padding-left: 24px;

    i {
      position: absolute;
      left: 0;
      top: 8px;
      font-size: 85%;
      color: $color-quaternary;
    }

    color: $dark;

    a {
      color: $dark;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

// content style
.content > *:not(*.not-content) {
  color: #777;

  p {
    color: inherit;
  }

  a {
    color: $color-primary !important;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 20px;

    &.img-center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.img-left {
      display: block;
      margin-left: 0;
      margin-right: auto;
    }

    &.img-right {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }

    &.img-float-left {
      float: left;
      margin-right: 20px;
    }

    &.img-float-right {
      float: right;
      margin-left: 20px;
    }
  }

  figure {
    display: inline-block;
    margin-bottom: 20px;

    img {
      margin-bottom: 10px;
    }

    &.img-center {
      display: block;
      text-align: center;
    }

    &.img-left {
      display: block;
      text-align: left;
    }

    &.img-right {
      display: block;
      text-align: right;
    }

    &.img-float-left {
      float: left;
      margin-right: 20px;
    }

    &.img-float-right {
      float: right;
      margin-left: 20px;
    }
  }

  figcaption {
    text-align: center;
  }

  a {
    color: inherit;

    &:hover {
      color: $color-primary;
    }
  }

  &.has-bg-dark {
    color: #999;

    a,
    li,
    p {
      color: #999;
    }

    a:hover {
      color: $white;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
      color: inherit;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style-type: none;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        left: 3px;
        top: 10px;
      }

      &:nth-child(1)::before,
      &:nth-child(5)::before,
      &:nth-child(9)::before,
      &:nth-child(13)::before {
        background: $color-primary;
      }

      &:nth-child(2)::before,
      &:nth-child(6)::before,
      &:nth-child(10)::before,
      &:nth-child(14)::before {
        background: $color-secondary;
      }

      &:nth-child(3)::before,
      &:nth-child(7)::before,
      &:nth-child(11)::before,
      &:nth-child(15)::before {
        background: $color-tertiary;
      }

      &:nth-child(4)::before,
      &:nth-child(8)::before,
      &:nth-child(12)::before,
      &:nth-child(16)::before {
        background: $color-quaternary;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
  }

  table td,
  table th {
    padding: 0.75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background: lighten($color: $light, $amount: 5);
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: $font-icon;
    font-weight: 900;
    content: "\f05a";
    left: 10px;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: #e3f4ff;
  }

  .notices.note p::after {
    content: "Note";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.tip p {
    border-top: 30px solid #78c578;
    background: #e2ffe2;
  }

  .notices.tip p::after {
    content: "Tip";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #f0b37e;
    background: #ffedde;
  }

  .notices.info p::after {
    content: "Info";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.warning p {
    border-top: 30px solid #e06f6c;
    background: #ffdad8;
  }

  .notices.warning p::after {
    content: "Warning";
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }

  blockquote {
    font-size: 20px !important;
    color: #777;
    padding: 20px 40px;

    @include tablet {
      font-size: 18px !important;
      padding: 20px;
    }

    border-left: 2px solid $color-primary;
    margin: 40px 0;
    font-weight: bold;
    background: darken($white, 2);
    border-radius: 5px;

    p {
      color: #777;
      margin-bottom: 0 !important;

      &:last-child {
        margin-top: 5px;
      }
    }

    cite {
      font-style: normal;
      font-size: 80%;
      letter-spacing: 1px;
      opacity: 0.7;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }

  *:not(li) {
    margin-bottom: 28px;
  }

  .zenuml {
    *:not(li) {
      margin-bottom: initial;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px !important;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

// custom
.space-around {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.align-right {
  float: right;
}

.dark-bar {
  background-color: $banner-primary;
}

.light-bar {
  background-color: $header-bar-bg;
}

.nav-menu-text {
  color: $black !important;
}

.header-sec {
  z-index: -1 !important;
}

.no-bottom {
  padding-bottom: 0 !important;
}

.highlight:not(.code-highlight) pre {
  padding: 15px 20px;

  * {
    margin-bottom: 0 !important;
  }
}

.opacity {
  &-70 {
    opacity: 0.7;
  }
}

#videoModal {
  .btn-close {
    position: absolute;
    right: 0px;
    top: -50px;
    opacity: 1;
    background-color: rgba(white, 0.8) !important;
    background-size: 14px !important;
    padding: 10px;
    transition: all 0.4s;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      box-shadow: none;
    }
  }

  .modal-body {
    padding: 0px;
  }

  .modal-dialog {
    padding: 10px;
    margin: 3rem auto !important;
  }
}

.w-md-full {
  @include tablet {
    width: 100%;
  }
}

.inherit-text-color * {
  color: inherit !important;
}

// Pagination
.pagination {
  .page-item {
    .page-link {
      background: $white;
      border-color: $border-color;
      color: $text-dark;

      &:hover {
        background: $color-primary;
        color: $white;
      }
    }

    &.active .page-link {
      background: $color-primary;
      color: $white;
    }
  }
}

.alert {
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;

  &-success {
    color: green;
    background-color: rgba(green, 0.2);
  }
  &-danger {
    color: red;
    background-color: rgba(red, 0.2);
  }
}

.formatted-list {
  ul,
  ol {
    padding-left: 20px;
    li::marker {
      color: $color-primary;
    }
    li {
      color: $black;
    }
    strong {
      color: $color-primary;
    }
  }
}
