/*  typography */
body {
  line-height: 1.7;
  @media (min-width: 1440px) {
    font-size: 18px;
  }
  font-size: $font-size;
  font-family: $font-secondary;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
}

p,
.paragraph {
  font-weight: 400;
  color: $banner-desc;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $font-primary;
  font-weight: 900 !important;

  p {
    margin-bottom: 0px;
  }
}

.banner-title {
  color: $banner-title;
}
.banner-desc {
  color: $banner-desc;
}

.text-xl {
  font-size: 58px;
  @include desktop {
    font-size: 48px;
  }
  @include tablet {
    font-size: 38px;
  }
}
.btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat !important;
}

// List in descending order to prevent extra sort function
$type-levels: 6, 5, 4, 3, 2, 1;

// Create map with h[x] as key
$level-size: $font-size;
@each $level in $type-levels {
  $level-size: $level-size * $font-scale;
  // Output heading styles
  h#{$level},
  .h#{$level} {
    font-size: $level-size !important;
    line-height: calc(10px + 2ex + 2px) !important;
    
    @include desktop {
      font-size: calc(#{$level-size} * 0.85) !important;
    }
    @include tablet {
      font-size: calc(#{$level-size} * 0.80) !important;
    }
  }
}
