// Color Variables
{{ with site.Params.variables }}
$color-secondary: {{.color_secondary | default "#FFD02F"}};
$color-tertiary: {{.color_tertiary | default "#ED6F78"}};
$color-quaternary: {{.color_quaternary | default "#6E9240"}};
$text-dark: {{.text_dark | default "#222"}};
$text-light: {{.text_light | default "#999"}};
$border-color: {{.border_color | default "#ECECEC"}};
$dark: {{.dark | default "#050038"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$light: {{.light | default "#EDF6F5"}};

//custom
$banner-primary: {{.banner_primary | default "#1B1B1B"}};
$banner-secondary: {{.banner_secondary | default "FF5100"}};

// Dark Mode Colors
$color-primary: {{.color_primary | default "#F88136"}};

$dark-50: {{.dark_50 | default "#262423"}};
$dark-300: {{.dark_300 | default "#0F0F0F"}};
$dark-900: {{.dark_900 | default "#2F323C"}};

$text-color: {{.text_color | default "#FEF2EB"}};
$text-color-dark: {{.text_color_dark | default "#606271"}};
$border-color: {{.border_color | default "#424653"}};
$border-color-light: {{.border_color_light | default "#A4B0CA"}};

$body-color: {{.body_color | default "#0F0F0F"}};

// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato") "+" " "}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato") "+" " "}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 5 Free"}}';
{{ end }}

@import 'bootstrap/bootstrap';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation.scss';

@import 'search.scss';

@import 'templates/main.scss';

@import 'shortcodes.scss';

@import 'custom.scss';

@import 'search';


